<div class="app">
  <h1>List of movies</h1>
  <div class="search">
    <input type="text" #movieSearchInput  placeholder="Search Movies">
<!--    <img (click)="getMovies(search.value)" src="../../../assets/search.svg" alt="search" />-->
  </div>
  <div *ngIf="(movies$ | async ) as movies; else empty" class="container">
    <app-card-movie *ngFor="let movie of movies" [movie]="movie" ></app-card-movie>
  </div>
  <ng-template #empty class="empty" >
    <h3>Not results</h3>
  </ng-template>
</div>
